@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Open+Sans&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.contents {
  font-size: 30vh;
}

.wrapper {
  position: relative;
}

.contents {
  position: absolute;
  opacity: 0;
  -webkit-animation: 30s fadeIn forwards;
  animation: 30s fadeIn forwards;
  font-family: 'New Tegomin', sans-serif;
  color: lightgray;
}

footer {
  position: fixed;
  width:100%;
  height:56px;
  bottom:0;
  text-align:center;
  z-index: 1000;
  color: gray;
}
